body {
  margin: 0;
  padding: 0;
}

.loginSection,
.privateSection {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(230, 215, 190);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

form div {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

form div input {
  padding-block: 0.5em;
  padding-inline: 1em;
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.11);
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

form div label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

form button {
  padding-block: 0.5em;
  padding-inline: 1em;
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.11);
  font-size: 20px;
  background-color: rgb(235, 154, 154);
  cursor: pointer;
}

form button:hover {
  background-color: coral;
}

#name,
#hobby {
  background-color: white;
  padding: 5em;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.11);
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.personalInformation {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  gap: 2em;
}

.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.modalContent {
  padding: 4em;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  width: 500px;
}
